body {
  background: #b8c8d6; /*Fondo de la pagina */
  color: #333333; /*Letras entrada */
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333; /*Letra sidebar*/
}

.bg-steel {
  background-color: #5f788a; /*Fondo Header */
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db; /*Letras del header */
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff; /*No se que cambia*/
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* publicacion */
.content-section {
  background: #ffffff; /* publicacion */
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #8eb1d1 /*Linea de abajo del nombre de la publication*/
}

.article-metadata a:hover {
  color: #C1EAFF;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}